#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #F8F9FA;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}


#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}


#products-list{
  width: 50vw;
}


#main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.price{
  display: flex;
  justify-self: start;
}

.trash-button{
  background: url("./assets/trash.png") no-repeat;
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: none;
  border: none;
  padding-bottom: 0.4rem;
}
